body{
    
}
table{
    
}
table.a{
    text-align: center;
}
section ul li{
    display: inline;
    font-size: 13px;
    margin-right: 32px;
}
.title a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
li{
    list-style: none;
}
section ul {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1232px;
    height: 28px;
    margin: auto;
    padding: 0px 24px;
}
section.title {
    font-size: 13px;
    background: rgb(37, 14, 68);
}
.title_name{
    position: relative;
    max-width: 1232px;
    height: 92px;
    margin: 0px auto;
    padding: 22px 0px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.title_name a{
    width: 184px;
    height: 40px;
    margin-right: 12px;
    padding: 8px 0px;
    text-indent: 100%;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}
section{
    display: block;
}
header {
    display: block;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.form{
    border-radius: 2px;
    border-color: rgb(24, 143, 255);
    display: flex;
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 228, 233);
    border-radius: 8px;
    margin-top: 0em;
}
.search{
    appearance: none;
    background: none;
    box-sizing: border-box;
    padding: 12px;
    font-size: 16px;
    font-family: inherit;
    margin: 0px;
    border-style: none;
    display: flex;
    height: 100%;
    min-width: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-radius: 8px;
    padding: 6px;
    font-size: 14px;
    line-height: 1;
    outline-offset: -2px;
    overflow: visible;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.button1{
    flex-shrink: 0;
    height: 100%;
    border-radius: 2px 0px 0px 2px;
    padding: 13px;
    border-radius: 8px;
    border-width: 0px;
    padding: 11px;
    font-size: 16px;
    font-weight: 500;
    border-style: solid;
    color: rgb(255, 255, 255);
    border-color: rgb(24, 143, 255);
    background-color: rgb(24, 143, 255);
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
    font-size: 100%;
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}
div{
    display: block;
}
.logo{
    position: relative;
    right: 120px;
    top: 5px;
    width: 184px;
    height: 40px;
    margin-right: 12px;
    padding: 4px 0px;
    float: left;
    text-indent: 100%;
    white-space: nowrap;
}
.div{
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.div1{
    float: left;
    width: 44%;
    height: 48px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 1000;
}
section{
    display: block;
}
.section1{
    background: linear-gradient(to left, rgb(24, 143, 255) 10%, rgb(0, 179, 255) 90%);
}
.title2{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-height: 85vh;
    float: right;
    bottom: 60px;
    left: 60px;
}
.title3{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    max-height: 85vh;
    float: right;
}
.title4{
    padding-left: 100px;
}
.title5{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
}
.title6{
    padding-left: 0px;
}
.title7{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    text-decoration: none;
    outline: none;
    height: 36px;
    position: relative;
}
.title8{
    left: 15px;
    position: relative;
}
.title9{
    display: block;
    width: 24px;
    height: 24px;
}
.title10{
    position: relative;
    padding-right: 0px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    left: 50px;
    bottom: 30px;
}
.title11{
    padding-right: 30px;
}
.title12{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    text-decoration: none;
    outline: none;
    height: 36px;
    position: relative;
}
.title13{
    display: block;
    width: 24px;
    height: 24px;
}
.title14{
    position: relative;
    left: 30px;
    bottom: 30px;
    padding-left: 0px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}